body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
}

.submitButton {
    float: left;
    padding: 10px;
    margin: 10px;
}

.navigationButton {
    float: right;
    padding: 10px;
    margin: 10px;
}

.chatContainer {
    width: 1080px;
    height: 400px;
    max-width: 100%;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.messageSent {
    flex-direction: row-reverse;
}

.messageContent {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 18px;
    position: relative;
}

.messageContent p {
    margin: 0;
}


.messageReceived .messageContent {
    background-color: #f1f0f0;
    border-top-left-radius: 0;
}

.messageSent .messageContent {
    background-color: #0084ff;
    color: #fff;
    border-top-right-radius: 0;
}

.inputContainer form {
    display: flex;
    justify-content: center;
}

form {
    margin-top: 20px;
}

form > textarea {
    width: 90%;
    height: 30%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    resize: none;
}

form > input {
    font-size: large;
}
